<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
    
    <title>Parc</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
    
</head>
<!-- END HEAD -->
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
                                       
                                    <div class="table-scrollable">
                                    <table class="table table-hover table-checkable order-column full-width" id="example4">
                                        <thead>
                                            <tr>
                                            	<th class="center"></th>
                                                <th class="center"> ID </th>
                                                <th class="center"> Name </th>
                                                <th class="center"> Phone no </th>
                                                <th class="center"> Email </th>
                                                <th class="center"> Age </th>
                                                <th class="center"> City </th>
                                                <th class="center"> Occupation </th>
                                                <th class="center"> Organization </th>
                                                <th class="center"> Lesson 1 </th>
                                                <th class="center"> Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	<% if logged_in? %>
 
 <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-179508141-1']);
_gaq.push(['_setDomainName', 'none']);
_gaq.push(['_setAllowLinker', 'true']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<% end %>
                                        	
                                        	
                                        	<% if logged_in? %>
                                        	<h1> Logged in users</h1>
													<tr class="odd gradeX">
														<td class="user-circle-img">
																<img src="/assets/img/user/user1.jpg" alt="">
														</td>
														<td class="center"><%=current_user.id%></td>
														<td class="center"><%=current_user.first_name%> &nbsp; <%=current_user.last_name%></td>
														<td class="center"><%=current_user.phoneno%></td>
														<td class="center"><%=current_user.email%></td>
														<td class="center"><%=current_user.age%></td>
														<td class="center"><%=current_user.city%></td>
														<td class="center"><%=current_user.occupation%></td>
														<td class="center"><%=current_user.organization%></td>
														<td class="center"><%=current_user.lesson1%></td>
														
														
														<td class="center">
															<a href="edit_booking.html" class="btn btn-tbl-edit btn-xs">
																<i class="fa fa-pencil"></i>
															</a>
															<button class="btn btn-tbl-delete btn-xs">
																<i class="fa fa-trash-o "></i>
															</button>
														</td>
													</tr>
											<% else %>
											<h1> All users</h1>
											<% @users.each do |user| %>
											
												<tr class="odd gradeX">
														<td class="user-circle-img">
																<img src="/assets/img/user/user1.jpg" alt="">
														</td>
														<td class="center"><%=user.id%></td>
														<td class="center"><%=user.first_name%> &nbsp; <%=user.last_name%></td>
														<td class="center"><%=user.phoneno%></td>
														<td class="center"><%=user.email%></td>
														<td class="center"><%=user.age%></td>
														<td class="center"><%=user.city%></td>
														<td class="center"><%=user.occupation%></td>00
														<td class="center"><%=user.organization%></td>
														<td class="center"><%=user.lesson1%></td>
														
														
														<td class="center">
															<a href="edit_booking.html" class="btn btn-tbl-edit btn-xs">
																<i class="fa fa-pencil"></i>
															</a>
															<button class="btn btn-tbl-delete btn-xs">
																<i class="fa fa-trash-o "></i>
															</button>
														</td>
													</tr>
											
											<%end%>
											<%end%>
											
											
										</tbody>
                                    </table>
                                    </div>
                              
</body>
</html>